* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Times New Roman';
}

html, body{
 height:100%;
 width:100%;
}
nav{
    height: 7.5vh;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    border-bottom: 3px solid #000000;
}
#logo{
    color: crimson;
    font-size: 2.3vw;
    font-weight: 900;
}
.ele{
    font-size: 1.2vw;
    font-weight: 750;
}
a{
    text-decoration: none;
}
#ele{
    display: flex;
    align-items: center;
    gap: 6vw;
}
nav button{
    background-color: crimson;
    color: #ffffff;
    font-size: 1.2vw;
    font-weight: 800;
    padding: 0.4vw 0.75vw;
    border: 2px solid #000000;
    border-radius: 5px;
}
@media (min-width:1200px) and (max-width:1600px){
    nav{
        height: 8vh;
        width: 100%;
        display: flex; 
        justify-content: space-between;
        align-items: center;
        padding: 0px 25px;
        border-bottom: 3px solid #000000;
    }
    #logo{
        color: crimson;
        font-size: 3.2vw;
        font-weight: 900;
    }
    .ele{
        font-size: 1.8vw;
        font-weight: 750;
    }
    a{
        text-decoration: none;
    }
    #ele{
        display: flex;
        align-items: center;
        gap: 6vw;
    }
    nav button{
        background-color: crimson;
        color: #ffffff;
        font-size: 1.8vw;
        font-weight: 800;
        padding: 0.4vw 0.75vw;
        border: 2px solid #000000;
        border-radius: 5px;
    }
}
@media (min-width:800px) and (max-width:1200px){
    nav{
        height: 7.5vh;
        width: 100%;
        display: flex; 
        justify-content: space-between;
        align-items: center;
        padding: 0px 25px;
        border-bottom: 3px solid #000000;
    }
    #logo{
        color: crimson;
        font-size: 3.75vw;
        font-weight: 900;
    }
    .ele{
        font-size: 2.5vw;
        font-weight: 750;
    }
    a{
        text-decoration: none;
    }
    #ele{
        display: flex;
        align-items: center;
        gap: 6vw;
    }
    nav button{
        background-color: crimson;
        color: #ffffff;
        font-size: 2.5vw;
        font-weight: 800;
        padding: 0.4vw 0.75vw;
        border: 2px solid #000000;
        border-radius: 5px;
    }
}
@media (min-width:200px) and (max-width:800px){
    nav{
        height: 7.5vh;
        width: 100%;
        display: flex; 
        justify-content: space-between;
        align-items: center;
        padding: 0px 25px;
        border-bottom: 3px solid #000000;
    }
    #logo{
        color: crimson;
        font-size: 4.5vw;
        font-weight: 900;
    }
    .ele{
        font-size: 3.5vw;
        font-weight: 750;
    }
    a{
        text-decoration: none;
    }
    #ele{
        display: flex;
        align-items: center;
        gap: 5vw;
    }
    nav button{
        background-color: crimson;
        color: #ffffff;
        font-size: 3.5vw;
        font-weight: 800;
        padding: 0.4vw 0.75vw;
        border: 2px solid #000000;
        border-radius: 5px;
    }
    
}
main{
    height: calc(100% - 7.5vh);
    display: flex;
    align-items: center;
}
#leftc{
    height: 100%;
    width: 50%;
}
#intro{
    font-size: 3vw;
    font-weight: 800;
    padding: 4vw 25px 2vw 25px;
    line-height: 4vw;
}
#name{
    color: crimson;
}
#intro2{
    font-size: 2vw;
    font-weight: 600;
    padding: 1vh 25px;
    line-height: 2.8vw;
}
#rightc{
    height: 100%;
    width: 50%;
}
img{
    height: 100%;
    width: 100%;
}
@media (max-width:600px){
    main{
        height: calc(100% - 7.5vh);
        display: flex;
        flex-direction: column;
    }
    #leftc{
        height: 45%;
        width: 100%;
    }
    #intro{
        font-size: 2.5vh;
        font-weight: 800;
        padding: 4vh 25px 4vw 40px;
        line-height: 3.5vh;
    }
    #name{
        color: crimson;
    }
    #intro2{
        font-size: 3.5vw;
        font-weight: 750;
        padding: 1vh 25px 4vw 40px;
        line-height: 2.5vh;
    }
    #rightc{
        height: 55%;
        width: 100%;
        padding-bottom: 2vh;
    }
    img{
        height: 100%;
        width: 100%;
    }
}
@media (min-width:600px) and (max-width:1200px){
    main{
        height: calc(100% - 7.5vh);
        display: flex;
        flex-direction: column;
    }
    #leftc{
        height: 45%;
        width: 100%;
    }
    #intro{
        font-size: 5vw;
        font-weight: 800;
        padding: 2vh 4vh;
        line-height: 5vw;
    }
    #name{
        color: crimson;
    }
    #intro2{
        font-size: 2.5vw;
        font-weight: 750;
        padding: 2vh 8vh 2vh 4vh;
        line-height: 3.5vw;
    }
    #rightc{
        height: 55%;
        width: 100%;
    }
    img{
        height: 100%;
        width: 100%;
    }
}
